@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    color: #3751E0;
    text-align: center;
    margin: 100;
}

section {
    width:75%;
    margin: 0 auto;
  }

section section {
    width:100%;
}

.ada {
    width: 100%;
    border-radius: 8px;
}

.ada__maquina {
    width: 50%;
} 

button {
    background-color: #3751E0;
    border: 1px solid transparent;
    padding: 2px 20px;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    
  }